<p style="font-weight: 800;">Pagenating</p>
<igx-grid #grid1 [data]="localData" primaryKey="EmployeeID" width="900px" height="550px" >
  <igx-column field="FirstName" header="First Name"  width="150px"  >
  </igx-column>
  <igx-column field="LastName" header="Last Name" width="150px"  >
  </igx-column>
  <igx-column field="Country" width="140px"  >
  </igx-column>
  <igx-column field="Age" width="110px" dataType="number"  >
  </igx-column>
  <igx-column field="RegistererDate" header="Registerer Date" width="180px" dataType="date" >
    <ng-template igxCell let-value>
        {{ value | date }}
    </ng-template>
  </igx-column>
    <igx-column field="IsActive" header="Is Active" width="140px" dataType="boolean" >
    <ng-template igxCell let-cell="cell">
      <igx-checkbox [checked]="cell.value" [disabled]="true"></igx-checkbox>
    </ng-template>
  </igx-column>

  <igx-paginator [perPage]="10">
  </igx-paginator>
</igx-grid>
